/* checkbox css */
.checkbox-wrapper .checkbox-inner {
    position: relative;
}

.checkbox-wrapper .checkbox-inner input {
    opacity: 0;
    position: absolute;
    z-index: 1;
    width: 100% !important;
    height: 100% !important;
    left: 0;
    top: 0;
    margin: 0;
    cursor: pointer;
}

.checkbox-wrapper .checkbox-inner label {
    display: inline-block;
    margin: 0;
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--plain-black);
    font-weight: 300;
}

.checkbox-wrapper .checkbox-inner label:before {
    content: '';
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    margin-right: 0.8rem;
    border: 0.1rem solid var(--primary);
    border-radius: 0.1rem;
}

.checkbox-wrapper .checkbox-inner label:after {
    border: 0.1rem solid var(--white);
    border-width: 0 0.2rem 0.2rem 0;
    content: "";
    position: absolute;
    opacity: 0;
    left: 0.4rem;
    top: 0.8rem;
    width: 0.4rem;
    height: 0.7rem;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkbox-wrapper .checkbox-inner input:checked+label:before {
    background-color: var(--primary);
}

.checkbox-wrapper .checkbox-inner input:checked+label:after {
    opacity: 1;
}

/* form common css */
.form-wrapper .form-outer-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.8rem -3rem;
}

.form-wrapper .form-outer-wrapper .form-group {
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 3rem;
    padding: 0 0.8rem;
    position: relative;
}

.form-wrapper .form-outer-wrapper .form-group.col-6 {
    max-width: 50%;
    flex: 0 0 50%;
}

.form-group .label,
.form-group label {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: var(--black2);
    margin-bottom: 0.8rem;
    display: block;
}

.form-group .form-control-outer {
    position: relative;
}

.form-group .form-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.4rem;
    cursor: pointer;
    color: var(--grey7);
}

.form-group .form-control {
    padding: 0 1.4rem;
    font-size: 1.4rem;
    height: 4.8rem;
    line-height: 4.8rem;
    border-radius: 0.6rem;
    border: 0.1rem solid var(--grey6);
    width: 100%;
    color: var(--plain-black);
    outline: 0;
    transition: all 0.3s;
}

.form-group .form-control:focus {
    border-color: var(--primary);
    border-width: 0.1rem;
}

.form-group .form-control::placeholder {
    transition: all 0.3s;
}

.form-group .form-control:focus::placeholder {
    transition: all 0.3s;
    color: transparent;
}

.form-group textarea.form-control {
    min-height: 10rem;
    line-height: 1.2;
    padding: 1.4rem;
}

.form-group .form-control-outer.password-control-outer .form-control {
    padding-right: 4rem;
}

/* auth pages css */
.auth-wrapper {
    margin-bottom: 8rem;
}

.auth-wrapper .page-title {
    margin-bottom: 3.8rem;
}

.auth-wrapper .container {
    max-width: 120rem;
}

.auth-wrapper .auth-inner {
    background: var(--white2);
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.auth-wrapper .auth-image {
    flex: 0 0 40rem;
    max-width: 40rem;
    padding: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-right: 2.5rem;
}

.auth-wrapper .logo-wrapper {
    margin-bottom: 3rem;
}

.auth-wrapper .logo-wrapper .site-logo {
    max-width: 16.5rem;
    width: 100%;
}

.auth-wrapper .bottom-logo {
    margin-top: auto;
}

.auth-wrapper .auth-form-wrapper {
    padding: 0.7rem;
    flex: 1;
}

.auth-wrapper .auth-form-wrapper a {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--primary);
    border-bottom: 0.1rem solid var(--primary);
}

.auth-wrapper .link-wrapper {
    text-align: right;
    margin-top: 0.8rem;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.auth-wrapper .form-btn-wrapper {
    margin-top: 3rem;
}

.auth-wrapper .form-wrapper {
    background: var(--white);
    height: 100%;
    border-radius: 0 2rem 2rem 0;
    padding: 3.8rem 2.4rem;
}

.auth-wrapper .form-wrapper .img-wrap {
    margin-bottom: 2.6rem;
}

.auth-wrapper .form-wrapper .img-wrap img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}

.auth-wrapper .bottom-link {
    margin-top: 2rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.2rem;
    color: var(--plain-black);
}

.auth-wrapper .bottom-link a {
    margin-left: 0.7rem;
}

.auth-wrapper .contact-inner .form-wrapper {
    border-radius: 2rem 0 0 2rem;
}

.auth-wrapper .get-in-touch-wrapper {
    /* max-width: 24rem; */
    width: 100%;
    padding: 3rem 0;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
    color: var(--body-text);
    border-bottom: 1px solid #EAEFE3;
}

.auth-wrapper .get-in-touch-wrapper:nth-child(2) {
    border-bottom: 0;
}

.auth-wrapper .get-in-touch-wrapper:nth-child(1) {
    padding-top: 0;
}

.auth-wrapper .get-in-touch-wrapper>li {
    display: flex;
    line-height: 1.4;
}

.auth-wrapper .get-in-touch-wrapper .icon-wrap {
    display: block;
    margin-right: 1.5rem;
    line-height: 0;
    flex: 0 0 20px;
    margin-top: 5px;
}

.auth-wrapper .get-in-touch-wrapper .tel-wrap {
    display: flex;
    flex-direction: column;
}

.auth-wrapper .get-in-touch-wrapper>li:not(:last-child) {
    margin-bottom: 1.5rem;
}

.auth-wrapper .get-in-touch-wrapper a {
    color: var(--body-text);
    word-break: break-word;
    text-align: start;
}

.auth-wrapper .get-in-touch-wrapper a:hover {
    color: var(--primary);
}

.auth-wrapper .get-in-touch-wrapper a:not(:last-child) {
    margin-bottom: 0.2rem;
}

.auth-wrapper .get-in-touch-wrapper address {
    font-style: normal;
    line-height: 2.4rem;
}

.auth-wrapper .get-in-touch-wrapper address a {
    line-height: inherit;
    text-align: start;
    max-width: 240px;
}

.auth-wrapper .social-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-wrapper .social-icon-wrapper a {
    display: block;

}

.auth-wrapper .social-icon-wrapper li a {
    background-color: #E7F2D7;
    width: 48px;
    height: 48px;
    border-radius: 5.0rem;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.auth-wrapper .social-icon-wrapper li a:hover {
    background-color: var(--dark-green);
}

.auth-wrapper .social-icon-wrapper a:hover svg {
    fill: var(--white);
}

.auth-wrapper .social-icon-wrapper svg {
    display: block;
    height: 1.6rem;
    width: auto;
    transition: inherit;
}

.auth-wrapper .get-in-touch-wrapper .title-wrapper {
    margin-bottom: 1.5rem;
}

/* 404 page css */
.error-page-section {
    padding: 5.8rem 0 8rem;
    background-image: url(../images/404-bg.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 1.2rem;
}

.error-page-wrapper {
    max-width: 47.5rem;
    width: 100%;
    margin: -1.2rem auto 0;
    text-align: center;
}

.error-page-wrapper h2 {
    font-size: 4.6rem;
    line-height: 1.3;
    margin-bottom: 2.1rem;
}

.error-page-wrapper p {
    margin-bottom: 2.4rem;
}

@media (max-width:1199px) {
    .error-page-wrapper h2 {
        font-size: 4.2rem;
    }
}

@media (max-width:991px) {
    .auth-wrapper {
        margin-bottom: 5rem;
    }

    .auth-wrapper .page-title {
        margin-bottom: 2.8rem;
    }

    .auth-wrapper .auth-image {
        flex: 0 0 32rem;
        max-width: 32rem;
    }

    .auth-wrapper .social-icon-wrapper li a {
        width: 38px;
        height: 38px;
    }
}

@media (max-width:767px) {
    .form-wrapper .form-outer-wrapper {
        margin-bottom: -2.5rem;
    }

    .form-wrapper .form-outer-wrapper .form-group {
        margin-bottom: 2.5rem;
    }

    .form-wrapper .form-outer-wrapper .form-group.col-6 {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .auth-wrapper {
        margin-bottom: 4rem;
    }

    .auth-wrapper .page-title {
        margin-bottom: 2.2rem;
    }

    .auth-wrapper .auth-image {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 2rem;
    }

    .auth-wrapper .bottom-logo {
        margin-top: auto;
        max-width: 13rem;
        margin: 0 auto;
    }

    .auth-wrapper .form-wrapper {
        border-radius: 2rem;
        padding: 1.5rem;
    }

    .auth-wrapper .contact-inner .form-wrapper {
        border-radius: 2rem;
    }

    .error-page-section {
        padding: 3.8rem 0 5rem;
    }

    .error-page-wrapper h2 {
        font-size: 3.2rem;
        margin-bottom: 16px;
    }
}