/* general styles */
body {
    font-family: var(--primary-family);
    color: var(--body-text);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.62;
}

.container {
    max-width: 134rem;
    margin: 0 auto;
    padding: 0 5rem;
}

h1,
h2,
h3,
h4 {
    color: var(--heading-text);
}

h1,
h2 {
    font-weight: 600;
}

h1 {
    font-size: 5.6rem;
    line-height: 1.35;
}

h2 {
    font-size: 3.6rem;
    line-height: 1.36;
}

h3 {
    font-size: 2.4rem;
    line-height: 1.36;
    margin-bottom: 2rem;
}
h5{
    font-size: 1.8rem;
}
.primary-btn {
    display: inline-block;
    height: 4.7rem;
    line-height: 4.7rem;
    border-radius: 0.6rem;
    background-color: var(--primary);
    color: var(--white);
    font-weight: 600;
    font-size: 1.6rem;
    padding: 0 2rem;
    border: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.primary-btn:hover {
    background-color: var(--dark-green);
}


.secondry-btn {
    display: inline-block;
    height: 4.7rem;
    line-height: 4.7rem;
    border-radius: 0.6rem;
    background-color: transparent;
    color: var(--primary);
    font-weight: 600;
    font-size: 1.6rem;
    padding: 0 2rem;
    border: 1px solid var(--primary);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.secondry-btn:hover {
    background-color: var(--primary);
    color: var(--white);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

main {
    padding-top: 8.2rem;
}

/* swiper css */
.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.swiper-button-next {
    background-image: url(../images/swiper-right-arrow.svg);
    background-repeat: no-repeat;
    background-size: 1.4rem 2.4rem;
    height: 2.4rem;
    width: 1.4rem;
    right: 0;
}

.swiper-button-prev {
    background-image: url(../images/swiper-left-arrow.svg);
    background-repeat: no-repeat;
    background-size: 1.4rem 2.4rem;
    height: 2.4rem;
    width: 1.4rem;
    left: 0;
}

.swiper-pagination-bullet {
    height: 1rem;
    width: 1rem;
    background-color: var(--white1);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--blue);
}

.swiper-navigation .arrow {
    background-color: transparent;
    border: none;
    outline: none;
}

.swiper-navigation .arrow.swiper-button-disabled {
    opacity: 0.3;
}

.swiper-navigation .custom-next {
    margin-left: 1rem;
}

.swiper-title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    justify-content: space-between;
}

.swiper-title-wrapper h2 {
    margin-bottom: 0;
    margin-right: 1rem;
}

/* page title */
.page-title {
    padding-top: 3.5rem;
    margin-bottom: 2.6rem;
}

.page-title h1 {
    font-size: 4.6rem;
    font-weight: 600;
    color: var(--heading-text);
}

.section-title {
    margin-bottom: 1.4rem;
}
.section-title-big {
    margin-bottom: 1.4rem;
}

.section-title-big.center-text {
    text-align: center;
}

.section-title h2 {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--heading-text);
}

/* list-wrap */
.list-wrap {
    margin-bottom: 1.6rem;
}

.list-wrap li {
    position: relative;
    padding-left: 3.2rem;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.list-wrap li::after {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    content: "";
    height: 1.2rem;
    width: 1.2rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/list-icon.svg);
}

/* inner-page */
.inner-page {
    position: relative;
}

.inner-page::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    background-image: url(../images/top_bg_img.png);
    height: 45.3rem;
    width: 38.1rem;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    background-position: right;
}

/* faq */
.faq-section {
    padding-bottom: 8rem;
}

.faq-wrap {
    border-bottom: 1px solid #D9D9D9;
}

.faq-wrap .question {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    font-size: 1.8rem;
    position: relative;
    cursor: pointer;
    color: #212121;
    padding-right: 3.5rem;
    display: flex;
    align-items: center;
}

.faq-wrap .question img {
    margin-right: 1.5rem;
}

.faq-wrap:not(:last-child) {
    /* margin-bottom: 1.5rem; */
}

.faq-wrap a {
    display: block;
}

.faq-wrap .question::after {
    position: absolute;
    background-image: url(../images/down-arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 0.8rem;
    width: 1.4rem;
    right: 0;
    top: 1rem;
    content: "";
    transition: all 0.5s;
    /* right: 2rem; */
}

.faq-wrap .question.page-link::after {
    background-image: url(../images/link-arrow.svg);
    height: 1.2rem;
    width: 1.2rem;
    transition: all 0.5s;
}

.faq-wrap .question.page-link:hover::after {
    transform: translatey(-3px) translateX(3px);
    transition: all 0.5s;
}

.faq-wrap.open .question.page-link::after {
    transition: all 0.5s;
    transform: rotate(0);
}

.faq-wrap.open .answer {
    padding-bottom: 1.5rem;
}

.faq-wrap .answer .investment-content-list li a span {
    color: #212121;
}

.faq-wrap .answe .investment-content-list li a {
    color: #212121;
}

.faq-wrap .answer .investment-content-list li img {
    transition: all 0.5s;
    margin-left: 0.5rem;
}

.faq-wrap .answer .investment-content-list li {
    margin-bottom: 0.4rem;
}

.faq-wrap .answer .investment-content-list li:hover img {
    transition: all 0.5s;
    transform: translateX(5px);
}

.faq-wrap.open .question::after {
    transform: rotate(180deg);
}


@media(max-width:1366px) {
    h1 {
        font-size: 5rem;
    }
}

@media(max-width:1199px) {
    .container {
        padding: 0 2.5rem;
    }

    h1 {
        font-size: 4.4rem;
    }

    h2 {
        font-size: 3.2rem;
    }

    h3 {
        font-size: 2rem;
    }

}

@media(max-width:991px) {
    .faq-section {
        padding-bottom: 5rem;
    }

    h1 {
        font-size: 3.3rem;
    }

    .page-title {
        padding-top: 2.5rem;
    }

    .inner-page::after {
        height: 25rem;
        width: 20rem;
    }

    .page-title h1 {
        font-size: 3.5rem;
        font-weight: 600;
    }
}

@media(max-width:767px) {
    .faq-section {
        padding-bottom: 4rem;
    }

    h1 {
        font-size: 2.8rem;
    }

    h2 {
        font-size: 2.6rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    .primary-btn {
        height: 4.2rem;
        line-height: 4.2rem;
        padding: 0 1.5rem;
        font-size: 1.4rem;
    }

    .secondry-btn {
        height: 4.2rem;
        line-height: 4.2rem;
        padding: 0 1.5rem;
    }

    .swiper-title-wrapper {
        margin-bottom: 1.5rem;
    }

    .page-title h1 {
        font-size: 3.2rem;
        font-weight: 600;
    }

    .inner-page::after {
        height: 20rem;
        width: 15rem;
    }

    .section-title h2 {
        font-size: 2rem;
    }

    .page-title {
        margin-bottom: 2rem;
    }

    .list-wrap li {
        padding-left: 2rem;
    }

    .list-wrap li::after {
        left: 0;
    }

    h3 {
        margin-bottom: 1.5rem;
    }

    .faq-wrap .question {
        padding-bottom: 1rem;
        padding-top: 1rem;
        font-size: 1.6rem
    }

    .faq-wrap:not(:last-child) {
        /* margin-bottom: 1rem; */
    }

    .faq-wrap.open .answer {
        padding-bottom: 1rem;
    }

}

@media(max-width:576px) {
    .swiper-title-wrapper {
        gap: 3rem;
    }

    .swiper-title-wrapper .swiper-navigation {
        margin-left: auto;
        flex-shrink: 0;
    }


    .inner-page::after {
        height: 18rem;
        width: 13rem;
    }

    .page-title h1 {
        font-size: 2.8rem;
    }
}

@media (max-width:375px) {
    .section-title h2 {
        font-size: 1.8rem;
    }
}