.research-advisory-section {
    padding-bottom: 8rem;
}

.research-advisory-section p {
    margin-bottom: 2rem;
}

.subscription-block {
    background-image: linear-gradient(to right, #EFF6E6, #FFFFFF);
    font-size: 1.8rem;
    color: var(--body-text);
    padding: 0.9rem 1.6rem;
    border-left: 3px solid var(--primary);
    min-height: 4.8rem;
    margin-top: -0.4rem;
    margin-bottom: 1.6rem;
}


.subscription-block span {
    color: var(--dark-green);
    font-weight: 700;
}

.research-section .research-block.one-col .right-block {
    flex: 0 0 100%;
    max-width: 100%;
}

.research-section .research-block.one-col .research-list {
    justify-content: center;
}

.research-section .research-block.one-col .right-block .research-item {
    flex: unset;
    max-width: 25.7rem;
    width: 100%;
}

.research-section .research-block.one-col .research-list .icon-wrapper {
    margin-top: 5rem;
}

@media (max-width:1199px) {
    .research-section .research-block.one-col .right-block .research-item {
        flex: 0 0 25%;
        max-width: 25%;
        width: 100%;
    }
    .research-section .research-block.one-col .research-list .icon-wrapper{
        margin-top: 1.5rem;
    }
}

@media (max-width:991px) {
    .research-advisory-section {
        padding-bottom: 5rem;
    }
    .research-section .research-block.one-col .right-block .research-item {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        width: 100%;
    }
}

@media (max-width:767px) {
    .research-advisory-section p {
        margin-bottom: 1.4rem;
    }

    .research-advisory-section {
        padding-bottom: 4rem;
    }

    .subscription-block {
        font-size: 1.6rem;
    }
    .research-section .research-block.one-col .right-block .research-item {
        flex: 0 0 50%;
        max-width: 50%;
        width: 100%;
    }
}
@media (max-width:480px) {
    .research-section .research-block.one-col .right-block .research-item {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }   
}